/src/HttpClientTestExample/HttpClientExample.Tests/obj
/src/HttpClientTestExample/HttpClientExample.Tests/bin
/src/HttpClientTestExample/HttpClientTestExample/bin
/src/HttpClientTestExample/HttpClientTestExample/obj
/src/HttpClientTestExample/.vs
